/* <h1 style="color:blue;">A Blue Heading</h1> */

/* <p style="color:red;">A red paragraph.</p> */
body{
  background-color: brown;
}
h1 {
    color: aqua;
}
a:hover {
    color: red;
  }
  img {
    border: 1px solid rgba(92, 113, 246, 0.656);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }